html, body {
    color: #343A40;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Inter', sans-serif;
}

.dark {
    background-color: #22272e;
}

.red {
    background-color: #FF6584;
}

.grey {
    color: #cccccc;
}

.npm {
    color: #8ddb8c;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}

.bg-grey {
    background-color: #f6f6f6;
}

.border {
    border: solid 1px #ccc;
}