html, body {
    color: #343A40;
    font-family: 'Inter', sans-serif;
}

.dark {
    background-color: #22272e;
}

.green {
    color: #6FAC6F;
}

.bg-green {
    background-color: #6FAC6F;
}

.grey {
    color: #cccccc;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}

.bg-grey {
    background-color: #f6f6f6;
}

.border {
    border: solid 1px #ccc;
}