name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/prod'
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install npm@latest -g
      - run: npm install typescript -g
      - run: npm install
      - run: npm run deploy-prepare
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'src'
          destination-github-username: 'cssville'
          destination-repository-name: 'cssville.github.io'
          target-branch: main

  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/prod'
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install npm@latest -g
      - run: npm install typescript -g
      - run: npm install
      - run: npm run deploy-prepare
      - run: npm -v
      - run: npm pack ./
      - run: npm publish ./
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
