name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install typescript -g
      - run: npm install
      - run: npm run build
      - run: npm run deploy-prepare
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: success() && github.ref == 'refs/heads/prod'
    steps:
      - run: npm publish .
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}